.btn-contact {
  position: relative;
  display: block;
  width: 8.5rem;
  padding: 0.8375rem 1.25rem;
  font-weight: 700;
  margin: 2rem 0;
  border: 0.1rem solid #fff;
  background-color: #8860d0;
  color: #fff;
}
.btn-contact:hover {
  color: #5680e9;
  background-color: #fff;
}

.btn-send {
  width: 12rem;
}

.btn-submit {
  margin: 0 auto;
}

.back-to-top {
  position: fixed;
  width: 3rem;
  height: 3rem;
  right: 1.875rem;
  bottom: 1.2rem;
  z-index: 999;
  background-color: #5ab9ea !important;
  border-color: #5ab9ea !important;
}
.back-to-top i {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back-to-top:hover {
  background-color: #5680e9 !important;
  border-color: #5680e9 !important;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 9em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
@font-face {
  font-family: "Play-Regular";
  src: url("/fonts/Play-Regular.eot");
  src: url("/fonts/Play-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Play-Regular.svg#Play-Regular") format("svg"), url("/fonts/Play-Regular.ttf") format("truetype"), url("/fonts/Play-Regular.woff") format("woff"), url("/fonts/Play-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  scroll-behavior: smooth;
  font-family: "Play", sans-serif;
  overflow-x: hidden;
}

p {
  font-size: 18px;
}

a:hover {
  color: #8860d0;
}

.img-zoom {
  transition: transform 0.7s;
}
.img-zoom:hover {
  transform: scale(1.15);
}
@media (max-width: 575.98px) {
  .img-zoom:hover {
    transform: scale(1);
  }
}

hr {
  width: 100%;
  height: 2px !important;
  margin: 0 0 0 0.5rem;
  opacity: 0.5;
}

.no-gradient {
  background-color: #5680e9;
}

.gradient-nav {
  background: linear-gradient(90deg, #5680e9 15%, #5ab9ea 50%, #8860d0 85%);
}

.nav-link:hover {
  color: #fff;
}

.nav-item {
  position: relative;
}
.nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #fff;
  width: 0%;
  content: "";
  height: 2px;
  transition: all 1s;
}
.nav-item:hover::after {
  width: 80%;
  color: #fff;
}
@media (max-width: 991.98px) {
  .nav-item:hover::after {
    display: none;
  }
}

.socials-top i {
  font-size: 1.5rem;
  margin-left: 1rem;
  color: #fff;
}

.menu {
  background-color: #5680e9;
}

.main {
  background: linear-gradient(90deg, #5680e9 15%, #5ab9ea 50%, #8860d0 85%);
  padding: 16rem 0 0 0;
  color: #fff;
}
@media (max-width: 575.98px) {
  .main {
    padding-top: 12rem;
    margin-bottom: 3rem;
  }
}

.line-1 {
  width: 11em;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 575.98px) {
  .line-1 {
    margin: 0 auto !important;
    max-width: 21rem;
    white-space: normal;
  }
}

.line-2 {
  width: 11em;
}
@media (max-width: 575.98px) {
  .line-2 {
    max-width: 26rem;
    white-space: normal;
  }
}

@media (max-width: 575.98px) {
  .contact {
    margin: 2rem auto;
  }
}

@media (max-width: 575.98px) {
  .rotating {
    padding: 3rem 0.1rem 3rem 1rem;
  }
}

.typing-anim {
  animation: typewriter 2s steps(44) 1s 1 normal both;
}
@media (max-width: 575.98px) {
  .typing-anim {
    animation: typewriter 0s;
  }
}

.typing-anim-2 {
  animation-delay: 2s;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 11em;
  }
}

.loader {
  position: absolute;
  border-radius: 50%;
  animation: rotate 3s linear infinite;
}
.loader::before {
  content: "";
  position: absolute;
  inset: 20px 20px 0 0;
  border-radius: 50%;
}
.loader::after {
  content: "";
  position: absolute;
  top: 100px;
  right: 40px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 35px 35px #fff, 0 70px 70px #fff, 0 105px 105px #fff, 0 140px 140px #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.loader-1 {
  animation-delay: 0.2s;
}
.loader-1::after {
  top: 100px;
  right: 80px;
  width: 20px;
  height: 20px;
}

.loader-2 {
  animation-delay: 0.4s;
}
.loader-2::after {
  top: 100px;
  right: 120px;
  width: 10px;
  height: 10px;
}

@media (max-width: 575.98px) {
  .about {
    margin-bottom: 5rem;
  }
}

.special-padding {
  padding-top: 90px;
}

.img-code {
  border: 1px solid #fff;
  border-radius: 50%;
}

.img-skills {
  margin: 0 8rem 0 0;
}
@media (max-width: 575.98px) {
  .img-skills {
    margin: 0;
  }
}

.flip-div {
  color: #8860d0;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  width: 100%;
  display: block;
}

.words-flip {
  height: 50px;
  overflow: hidden;
}
.words-flip > div > div {
  color: #fff;
  padding: 0px 12px;
  height: 50px;
  margin-bottom: 45px;
  display: inline-block;
  background: #5680e9;
}
.words-flip div:first-child {
  animation: words-flip 14s linear infinite;
}
.words-flip div:first-child div {
  background: #8860d0;
}
.words-flip div:nth-child(3) div {
  background: #8860d0;
}
.words-flip div:last-child div {
  background: #5680e9;
}

@keyframes words-flip {
  0% {
    transform: translateY(0%);
  }
  8% {
    transform: translateY(0%);
  }
  16% {
    transform: translateY(-195%);
  }
  24% {
    transform: translateY(-195%);
  }
  32% {
    transform: translateY(-385%);
  }
  40% {
    transform: translateY(-385%);
  }
  48% {
    transform: translateY(-570%);
  }
  56% {
    transform: translateY(-570%);
  }
  64% {
    transform: translateY(-385%);
  }
  72% {
    transform: translateY(-385%);
  }
  80% {
    transform: translateY(-195%);
  }
  88% {
    transform: translateY(-195%);
  }
  96% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (max-width: 575.98px) {
  .portfolio {
    margin-bottom: 6rem;
  }
}

.portfolio-radius {
  border-radius: 3rem;
}

.ratio-16x9 {
  background-color: transparent !important;
}

.image-container {
  position: relative;
  display: inline-block;
  border-radius: 3rem;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(86, 128, 233, 0.8) 15%, rgba(136, 96, 208, 0.8) 85%);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  backdrop-filter: blur(2px);
}

.image-container:hover .project-overlay {
  opacity: 1;
}

.image-container:hover .img-zoom {
  transform: scale(1.15);
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;
  font-family: "Play", sans-serif;
}
.display-2-intro {
  display: inline-block;
  font-weight: 700;
  font-family: "Play", sans-serif;
}
.display-2-description {
  font-size: 2rem;
  display: block;
  margin-top: 0.5rem;
  text-transform: none;
}
@media (max-width: 575.98px) {
  .display-2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
}

.heading-line::before {
  content: "";
  width: 18rem;
  height: 0.1rem;
  display: block;
  margin: 0 auto;
  background-color: #5680e9;
}

.heading-line::after {
  content: "";
  width: 6rem;
  padding-top: 0.5rem;
  height: 0.2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 1rem;
  background-color: #5680e9;
}

.form-div {
  margin: 5rem auto;
}

.alert {
  margin-top: 2rem;
}

.with-errors {
  margin: 0.5rem;
  color: #8860d0;
}

.footer {
  background-color: #5680e9;
}

.contact-box {
  position: relative;
}
.contact-box-icon {
  width: 4rem;
  stroke: #fff;
  padding-top: 0.5rem;
}
@media (max-width: 991.98px) {
  .contact-box-icon {
    width: 2rem;
  }
}
.contact-box-info {
  padding: 0.4rem;
  font-weight: 600;
}
.contact-box-info-title {
  color: #fff;
  text-decoration: none;
  font-size: 1.4rem;
}
@media (max-width: 991.98px) {
  .contact-box-info-title {
    font-size: 1rem;
  }
}
.contact-box-info-title:hover {
  color: #8860d0;
}

.g-recaptcha div {
  margin: 0 auto;
}

.footer-sm {
  font-size: 18px;
  color: #fff;
}
.footer-sm a {
  color: #fff;
}
.footer-sm a i {
  font-size: 2rem;
  margin-left: 1rem;
}
@media (max-width: 575.98px) {
  .footer-sm a i {
    font-size: 1.6rem;
  }
}
.footer-sm a:hover {
  color: #8860d0;
}

.footer-bottom {
  background-color: #5680e9;
}
.footer-bottom-copyright {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer-bottom-copyright a {
  color: #dee2e6;
  text-decoration: none;
}
.footer-bottom-copyright a:hover {
  color: #0d6efd;
  text-decoration: underline;
}

.prebanner {
  bottom: 1.2rem !important;
}
.prebanner:hover {
  background-color: #5680e9 !important;
  border-color: #5680e9 !important;
}/*# sourceMappingURL=styles.css.map */